<body id = "home-body">
    <div class="container " id = "home-container">
        <div class="jumbotron  text-center text-white">
            <div class="container ">
                <h1 class="display-4">Fluid jumbotron</h1>
                <p class="lead">Это модифицированный jumbotron</p>
                <hr class="my-4">
                <button type="button" class="btn btn-light">Light</button>
            </div>
        </div>
    </div>
</body>


